p, h1, h2, h3, h4, h5, h6, a {
  font-family: 'Nunito', sans-serif;
}
body {
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-direction: column;

  margin-top:200px;
}

.container h1 {
  font-size: 50px;
  color: #322153;
}

.options-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.admin-option a{
  height: 295px;
  width: 283px;
  background: rgba(41, 182, 209, 0.42);
  text-decoration: none;
  color: #123952;
  font-weight: bold;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  border-radius: 14px;
}

.admin-option img {
  height: 295px;
  width: 283px;
  object-fit: cover;

  border-radius: 14px 14px 0 0;
}

.home-admin-option a{

  margin-left: 48px;
  height: 295px;
  width: 283px;
  background: rgba(242, 93, 39, 0.47);
  text-decoration: none;
  color: #123952;
  font-weight: bold;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  border-radius: 14px;
}

.home-admin-option img {
  height: 295px;
  width: 283px;
  object-fit: cover;

  border-radius: 14px 14px 0 0;
}


.tec-option a{
  margin-left: 48px;
  height: 295px;
  width: 283px;
  background: rgba(47, 153, 90, 0.5);
  text-decoration: none;
  color: #123952;
  font-weight: bold;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  border-radius: 14px;
}

.tec-option img {
  height: 295px;
  width: 283px;
  object-fit: cover;

  border-radius: 14px 14px 0 0;
}


.client-option a{
  margin-left: 48px;
  height: 295px;
  width: 283px;
  background: #FAE0B7;
  text-decoration: none;
  color: #123952;
  font-weight: bold;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  border-radius: 14px;
}

.client-option img {
  height: 295px;
  width: 283px;
  object-fit: cover;

  border-radius: 14px 14px 0 0;
}
